doctype html
html
  include _headAndStyles.pug
  body
    div.container
      div.content 
        //- figure.fig
        //-   img.logo(src=`${host}/assets/academlinks-logo.webp`)
        div.content-box
          p.app-introduce
            strong Mimitha
          p Dear 
            strong.username #{userName}
          div.message
            p This is your temporary password link
            p
              strong (valid for only 10 minutes)
              span .
            p Click this button to set new password !!!
          a.btn(href=`${url}` target="_blank") Reset Password
          p Wish you good luck !

